/* app css stylesheet */

.pagecontainer {
    margin: 1% 1% 1% 1%;
    font-family: 'Dosis', sans-serif;
}

.categoryselect {
    font-family: 'Dosis', sans-serif;
    margin-top:10px;
    width: 100%;
    height: 34px;
    overflow: hidden;
    border: 1px solid #C0C0C0;
    background: url(http://cdn.flaticon.com/png/256/48464.png) no-repeat ;
    background-size: 20px 20px;
    background-position: 99% 40%;
}

.categoryselect select {
   font-family: 'Dosis', sans-serif;
   background: transparent;
   width: 100%;
   padding: 3px;
   font-size: 16px;
   line-height: 2;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.margintop20{
  margin-top: 20px;  
}

#container{
    width:50%;
    display: block;
    height:100%;
}

#imagecontainer{
    width:45%;
    display: absolute;
    float:right;
}

#imagecontainer img{
    width:100%;
    height: 100%;
    margin:0;
    display:absolute;
    
}

.containeritem {
    width: 75px;
    height:75px;
    display: inline-block;
    margin-left:30px;
    margin-top: 15px;
    cursor:pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}

